#energy-amt{
    width:125px;
    font-size: 22px;
    color: var(--energy-color)
}

#energy-gain{
    color: var(--energy-color)
}

#energy-boost-button{
    width: 600px;
}

#energy-tickspeed-boost{
    width: 40%;
    text-align:center;
}

#energy-tickspeed-button{
    width: 250px;
}

#energy-overclock-button{
    width: 600px;
}